html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
   font-family: "Avenir", sans-serif;
}


/* Fade in */

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden;
}



/* Section 0
* --------------------------------------- */
#section0 {
	background: #f0f0f0;
}

.section0 .logo {
	width: 160px;
	height: 160px;
	background: url(../img/logo.png) no-repeat center center;
	margin: 0 auto;
	margin-top: -80px;
}

.section0 h1 {
	text-align: center;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 30px;
	font-size: 44px;
	color: #151E20;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.section0 h2 {
	text-align: center;
	padding: 0;
	font-size: 20px;
	line-height: 28px;
	color: #151E20;
	font-weight: 300;
	letter-spacing: 0.2px;
	width:100%;
	max-width: 350px;
	margin: 0px auto;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.section0 .logo {
		background: url(../img/logo@2x.png) no-repeat center center;
		background-size: 160px 160px;
	}
}



/* MOBILE PHONE */
@media screen and (max-width: 760px) {
	.section0 {
		padding: 20px;
	}
	.section0 h1 {
		font-size: 32px;
	}
	.section0 h2 {
		margin-top: 30px;
		font-size: 16px;
		line-height: 24px;
		width:100%;
	}
	.section0 .scroll-down {
		background-size: 18px 34px;
	}

}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.section0 {
		padding: 20px;
	}
}


@media only screen and (min-width : 1824px) {
	.section0 .logo {
		width: 150px;
		height: 150px;
		-moz-border-radius: 150px;
		-webkit-border-radius: 150px;
		border-radius: 150px;
		border: 30pt solid #39E0BA;
	}
	.section0 h1 {
		margin-bottom: 60px;
		margin-top: 40px;
		font-size: 72px;
	}
	.section0 h2 {
		font-size: 30px;
		line-height: 42px;
		max-width: 550px;
		font-weight: 300;
	}
	.section0 .scroll-down {
		background-size: 36px 68px;
		height:140px;
	}
}

/* Section 4
* ------------------------------------------------------------------------------------------------------ */

#section4 {
	background: #121F21;
}

.section4 {
	width:100%;
	max-width: 760px;
	margin: 0px auto;
}

.iphone {
 	max-width: 250px;
 	max-height: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.section4 h3 {
	font-size: 40px;
	line-height: 52px;
	color: #F0F0F0;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: center;
	margin: 0;
}


.section4 p {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: center;
	margin-top: 10px;
}

.section .slider {
	width: 90%;
	margin: 0 auto;
}

.app-store-btn {
	background: url(../img/app-store.png) no-repeat;
	background-size: 100% 100%;
	width: 135px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}

.app-store-link {
	width: 177px;
	height: 62px;
	display: block;
	cursor: pointer;
}

.copyright {
	font-size: 12px;
	color: #888888;
	letter-spacing: 0.2px;
	text-align: center;
	width:100%;
	height:40px;
	position: absolute;
	bottom:0;
	left:0;
}

.copyright a {
	color: #39E0BA;
	text-decoration: none;
}

.copyright a:hover {
	color: #39E0BA;
	text-decoration: none;
}

.copyright a:visited {
	color: #39E0BA;
	text-decoration: none;
}


 @media screen and (max-width: 760px) {
	 .section4 {
	 	height: 100%;
	 }
 	#section4 {
 		padding: 20px;
 	}
 	.section4 h3 {
 		font-size: 24px;
 		line-height: 40px;
 	}
 	.section4 p {
 		font-size: 16px;
 		line-height: 24px;
 	}
 }


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 	 .section4 {
 	 	height: 100%;
 	 }
 	#section4 {
 		padding: 20px;
 	}
 	.section4 h3 {
 		font-size: 30px;
 		line-height: 40px;
 	}
 	.section4 p {
 		font-size: 16px;
 		line-height: 24px;
 	}
 }



/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.app-store-btn {
		background: url(../img/app-store@2x.png) no-repeat;
		background-size: 100% 100%;
	}
 }




@media only screen and (min-width : 1824px) {
	.section4 {
		width:100%;
		max-width: 960px;
		height: 50%;
	}
	.section4 h3 {
		font-size: 50px;
		line-height: 62px;
	}
	.section4 p {
		font-size: 28px;
		line-height: 40px;
		font-weight: 300;
	}
	.section4 .app-store-btn {
		width: 240px;
		height: 84px;
		margin-top: 100px;
	}
}
